*{
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7; 
    padding: 15px;
    font-family: "Inter", sans-serif;
}
.page-wrapper{
    max-width: 375px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(114, 113, 113, 0.25);
    background:#f7f7f7;
}
.header{
    color: #0B092B;
    padding: 49px 76px 131px;
    background:
        linear-gradient(rgba(253, 246, 246, 0.4), rgba(253, 246, 246, 0.4)), /* Первый слой — полупрозрачный цвет */
        url('../img/header-bg.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    border-radius: 0px 0px 90px 90px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hello-text{
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}